.container{
    height: 90vh;
}
.row {
    height: 10vh;
}
.btn {
    background-color: rgb(255, 220, 253);
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.329);
    font-size: large;
}
.navbar {
    background-color: rgb(255, 220, 253);
}
.col-2 {
    text-align: center;
    padding: 10px;
    margin: 70px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(255, 220, 253);
}