<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap Grid Példa</title>
        <link rel="stylesheet" href="../bootstrap.min.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <div>
                <div class="row mt-4" id="first-row">
                    <div class="col-xl-4 bg-primary text-white p-3">1. Column</div>
                    <div class="col-md-4 bg-warning text-white p-3">2. Column</div>
                    <div class="col-lg-4 bg-secondary text-white p-3">3. Column</div>
                </div>
            </div>

            <div class="mt-4 mb-4 d-flex justify-content-center align-items-center">
                <div class="text-center border rounded bg-light p-5">
                    <h1>Üdvözöllek!</h1>
                    <p>Ez egy középre igazított Bootstrap box.</p>
                    <button class="btn btn-primary">Kattints ide</button>
                </div>
            </div>

            <div>
                <div class="row mt-4 mb-4">
                    <div class="col-md-4 bg-danger p-3 text-white">1. Column</div>
                    <div class="col-lg-4 bg-light p-3 text-dark border">2. Column</div>
                    <div class="col-xxl-4 bg-success p-3 text-white">3. Column</div>
                </div>
            </div>
        </div>
    </body>
</html>
