* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 50px;;
}

.navbar {
    padding: 10px;
    margin: 15px auto auto auto;
    border-radius: 20px;
    width: 90vw;
    box-shadow: 0px 0px 10px 0px rgb(201, 201, 201);
    background-color: #ffffff85;
    transition: 200ms ease-in-out;
}
.navbar:hover {
    background-color: #ececec;
    box-shadow: 0px 0px 15px 0px #dadada;
    transition: 200ms ease-in-out;
}
.navbar .nav-link {
    font-weight: bold;
}
.navbar-toggler {
    border-radius: 15px;
}
