* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    padding: 10px;
    margin: 15px auto auto auto;
    border-radius: 20px;
    width: 90vw;
    box-shadow: 0px 0px 20px 0px rgb(233, 233, 233);
    background-color: #ffffff85;
    transition: 200ms ease-in-out;
}
.navbar:hover {
    background-color: #ebebeb;
    box-shadow: 0px 0px 25px 0px #d8d8d8;
    transition: 200ms ease-in-out;
}
.navbar .nav-link {
    font-weight: bold;
}
.navbar-toggler {
    border-radius: 15px;
}
