#main {
    background-image: url("../images/arena.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-title {
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 255);
    border-radius: 50px;
}